[buildout]
parts = 
    sphinxbuilder

index = http://code.arcs.org.au/eggproxy

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}
build = ${buildout:directory}


